#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

#define AL1 0
#define AL2 1

/ { 
    keymap {
        compatible = "zmk,keymap";

        alpha1 { 
        bindings = <
                &kp S    &kp R   &kp T           &kp N   &kp E   &kp A
        &kp I   &kp L    &kp G   &kp D           &kp H   &kp U   &kp O &kp C
                        &bt BT_CLR &bt BT_NXT       &mo 1 &trans
        >;
        };

        alpha2 {
        bindings = <
                &kp J    &kp P   &kp K           &kp B   &kp DOT   &kp X
        &kp Q   &kp V    &kp W   &kp M           &kp F   &kp COMMA &kp Z &kp Y
                          &trans &kp SPACE   &trans    &trans
        >;
        };
    };
};
