/*
 *
 *          &kp &kp &kp   &kp &kp &kp 
 *      &kp &kp &kp &kp   &kp &kp &kp &kp 
 *              &kp &kp   &kp &kp          
 */

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

#define AL1 0
#define AL2 1
#define SY1 2
#define BRC 3
#define MOD 4
#define NUM 5
#define WSP 6
#define GME 7
#define NAV 8

&lt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};
&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};

/ { 
    behaviors {
        lss: left_shift_space {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        tr: thumb-layer {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB-MOD";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha1 { 
        bindings = <
                    &lt NUM S &mt LALT R &kp T           &kp N   &kp E &lt BRC A 
        &mt LCTRL I &lt WSP L &kp G      &kp D           &kp H   &kp U &lt NAV O &lt SY1 C
                   &kp LGUI  &lss LSHFT SPACE       &mo AL2 &tr MOD RET
        >;
        };

        alpha2 {
        bindings = <
                    &kp J   &kp P   &kp K           &kp B   &kp DOT   &kp X
        &mt LCTRL Q &kp V   &kp W   &kp M           &kp F   &kp COMMA &kp Z &mt RALT Y
                 &mt LGUI ESC &mt LSHFT BSPC     &trans    &kp ESC
        >;
        };

        sym1 {
        bindings = <
                 &kp AT   &kp SQT  &kp CARET       &kp DLLR &kp MINUS &kp EQUAL
        &kp EXCL &kp AMPS &kp HASH &kp STAR        &kp FSLH &kp BSLH  &kp PRCNT &trans
                    &kp LGUI &mt LSHFT SPACE       &lt NUM DEL &kp RCTRL
        >;
        };

        bracket {
        bindings = <
                 &kp SEMI  &kp LBKT  &kp LPAR      &kp RPAR   &kp RBKT &trans
        &kp LBRC &kp COLON &kp GRAVE &kp TILDE     &kp TAB    &trans   &trans &kp RBRC
                   &kp LGUI &mt LSHFT SPACE       &lt AL2 RET &lt MOD ESC
        >;
        };
        
        mod {
        bindings = <
                &kp HOME &sk LALT  &kp DEL       &kp LEFT &kp DOWN &kp UP
        &kp INS &kp END  &kp PG_DN &kp PG_UP     &kp TAB  &trans   &trans &kp RIGHT
                   &kp LGUI &mt LSHFT SPACE       &trans &trans
        >;
        };

        number {
        bindings = <
                 &trans &kp N2  &kp N3      &kp N7 &kp N8  &kp N9
        &kp N1   &trans &kp N4  &kp N5      &kp N6 &kp DOT &kp COMMA &kp N0
                &kp LGUI &mt LSHFT SPACE       &lt AL2 RET &lt MOD ESC
        >;
        };

        workspace {
        bindings = <
                   &trans &kp LG(N2)  &kp LG(N3)      &kp LG(N7) &kp LG(N8)  &kp LG(N9)
        &kp LG(N1) &trans &kp LG(N4)  &kp LG(N5)      &kp LG(N6) &trans      &trans &kp LG(N0)
                       &kp LGUI &mt LSHFT SPACE       &lt AL2 RET &lt MOD ESC
        >;
        };

        game {
        bindings = <
                  &kp Q    &kp W   &kp E           &kp R   &kp T    &kp Y
        &kp LCTRL &kp A    &kp S   &kp D           &kp F   &kp G    &kp H &to AL1
                    &kp LSHFT &kp SPACE     &kp RET &kp ESC
        >;
        };

        keyset {
        bindings = < 
               &trans &bt BT_SEL 0 &bt BT_SEL 1   &to GME &trans &trans 
        &trans &trans &trans       &bt BT_CLR     &trans &trans &trans &trans 
                               &trans &trans    &trans &trans   
        >;
        };
    };
};
